* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    height: 100vh;
    font-family: 'poppins', sans-serif;
  }
  
  header {
    font-size: 1.5rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    outline: none;
  }
  
  form button {
    color: rgb(20, 195, 20);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: green;
    color: white;
  }
  
  .error-span {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: rgb(163, 63, 63);
    font-size: 1rem;
  }
  
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .todo-list {
    min-width: 35%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: black;
    font-size: 1.5rem;
  }
  
  .todo-item {
    padding: 0 0.5rem;
  }
  
  .todo li {
    flex: 1;
  }
  
  .delete-button,
  .done-button {
    background: #fda085;
    color: #fff;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  i {
    pointer-events: none;
  }
  .done-button {
    background: rgb(20, 195, 20);
  }

  footer{
      height: 50px;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0 auto;
  }

.footer-container {
  display: flex;
  justify-content: center;
}

a{
  margin-right: 20px;
}

table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
  margin-left: 35%;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}
/* Zebra Table Style */
[data-table-theme*=zebra] tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,.05);
}
[data-table-theme*=zebra][data-table-theme*=dark] tbody tr:nth-of-type(odd) {
  background: rgba(255,255,255,.05);
}

img {
  margin-left: 150px;
}