* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    height: 100vh;
    font-family: 'poppins', sans-serif;
  }
  
  header {
    font-size: 1.5rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    outline: none;
  }
  
  form button {
    color: rgb(20, 195, 20);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: green;
    color: white;
  }
  
  .error-span {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: rgb(163, 63, 63);
    font-size: 1rem;
  }
  
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .todo-list {
    min-width: 35%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: black;
    font-size: 1.5rem;
  }
  
  .todo-item {
    padding: 0 0.5rem;
  }
  
  .todo li {
    flex: 1;
  }
  
  .delete-button,
  .done-button {
    background: #fda085;
    color: #fff;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  i {
    pointer-events: none;
  }
  .done-button {
    background: rgb(20, 195, 20);
  }